@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}


.contactSection {
    max-width: 100%;
    width: 100%;
    height: 500px;
    margin-top: 120px;
    text-align: center;
    background-color: #2A5C99;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    color: #FFFFFF;
    box-sizing: border-box;
}


.contactHeadingText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 80px auto 60px auto;
}

.icon {
    width: 18px;
    height: 20px;
    margin-right: 10px;
}

.contactFlexContainer {
    display: flex;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

.rightHalf {

    margin-right: 5%;
    align-self: flex-start;
    padding: 40px;
    width: 35%;
}

.leftHalf {
    align-self: flex-start;

    padding: 40px;
    margin-left: 5%;
    width: 30%;
}

.contactParagraphText1,
.contactParagraphText2 {
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    height: 60px;
    align-self: center;
    margin-top: 5px;
}



.line {
    width: 1px;
    margin-top: 40px;
    /* height: 0px; */
    border: 1px solid #D9DBE9;
    /* transform: rotate(90deg); */
    background-color: black;
}

.lowerText {
    margin-top: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-align: left;
}

.call {
    width: 100%;
    height: 29px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-align: left;
}


@media screen and (max-width: 800Px) {
    .contactParagraphText1 {
        line-height: normal;
    }

    .lowerText {
        margin-top: 4vh;
    }
}

@media screen and (max-width: 710px) {

    .contactParagraphText1,
    .contactParagraphText2 {
        margin-top: 0;
        /* margin-bottom: 8vh; */
    }

    .lowerText {
        margin-top: 1vh;
    }

    .line {
        display: none;
    }

    .contactFlexContainer {
        display: initial;

    }

    .rightHalf {
        padding: 0;
        width: 70%;
        margin: 0 auto;
    }

    .leftHalf {
        width: auto;
        padding: 0;
        margin-left: 14.5%;
    }

    .contactParagraphText2 {
        width: 100%;
        height: auto;
        margin-bottom: 1vh;
    }
}


@media screen and (max-width: 555px) {
    .contactParagraphText1 {
        margin-bottom: 6vh;
    }


}

@media screen and (max-width: 556px) {
    .contactParagraphText1 {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 530px) {
    .lowerText {
        margin-top: 4vh;
    }

    .contactHeadingText {
        margin-bottom: 30px;
        font-size: 6.5vw;
    }
}

@media screen and (max-width: 354px) {
    .contactParagraphText1 {
        margin-bottom: 8vh;
    }
}