@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');



.header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.logo {
    position: relative;
    top: 0;
    left: 0;
}

.menu {
    width: 4%;
    color: #4E4B66;
    display: none;
}

.navlinks {
    display: flex;
    width: 70%;
    justify-content: space-between;
    gap: 20px;
}

.list {
    align-self: center;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    padding-top: 10px;
    list-style: none;
    color: #4E4B66;
}

.links {
    text-decoration: none;
    color: #4E4B66;
}

.links:hover {
    color: #2A5C99;
    text-decoration: 1px #2A5C99 solid underline;
}

.button {
    display: flex;
}

.signupLinks {
    padding: 1vw 1.8vw;
    border-radius: 8px;
    margin-left: 16px;
    align-self: center;
    justify-self: center;
    color: #FFFFFF;
    background-color: #2A5C99;
    border: 1px solid #2A5C99;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.signupLinks:hover {
    color: #14142B;
}

.signinLinks {
    padding: 1vw 2.3vw;
    border-radius: 8px;
    margin-left: 16px;
    align-self: center;
    justify-self: center;
    color: #14142B;
    background-color: #FFFFFF;
    border: 1px solid #2A5C99;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.signinLinks:hover {
    color: #FFFFFF;
    background-color: #2A5C99;
}


@media screen and (max-width: 830px) {

    .menu {
        display: block;
        /* position: fixed;
        top: 1vh;
        right: 0; */
        color: #2A5C99;
        /* background: #2A5C99; */
    }

    .navlinks {
        /* display: none; */
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 40%;
        height: 93vh;
        background: #2A5C99;
        color: #FFFFFF;
        transform: translateX(100%);
    }

    .links {
        color: #FFFFFF;
        padding-left: 10px;
    }

    .list {
        flex-direction: column;
    }

    .links:hover {
        color: #FFFFFF;
        text-decoration: 1px #FFFFFF solid underline;
    }

    .button {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

    }

    .signinLinks,
    .signupLinks {
        margin: 0;
        margin-top: 14px;
        align-self: flex-start;
        padding: 0;
        border-radius: 0;
        background-color: inherit;
        color: #FFFFFF;
        padding-left: 10px;
    }

    .signinLinks:hover,
    .signupLinks:hover {
        color: #FFFFFF;
        text-decoration: 1px #FFFFFF solid underline;
    }


}


.nav_mobile {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 93vh;
    background: #2A5C99;
    color: #FFFFFF;
    transform: translateX(0);
    transition: 0.5s ease-in;
}

.nav_menu {
    width: 5%;
    position: absolute;
    top: 0;
    right: 0;
    color: #FFFFFF;
    /* z-index: 10000; */
}