@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Poppins', sans-serif;
    background: #2A5C99;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    gap: 40px;
    min-height: 100vh;
    background: #EFF0F6;
    margin: 30px 20px;
    padding: 25px;
    border-radius: 24px;
}

.formSection {
    width: 525px;
    max-width: 100%;
    margin-bottom: 30px;
    border: 2px solid red;

}

.imgSection {
    width: 346px;
    /* border: 2px solid blue; */
}


.inputFields {
    width: 100%;
    max-width: 520px;
    border: none;
    height: 56px;
    border-radius: 15px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

form {
    width: 525px;
}

/* input {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */

.check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rememeberMe {
    display: inline;
}

.special {
    font-weight: 400;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid #2d3c4f;
}

.special:hover {
    color: #cd0b29;
}

.signinBtn {
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 100%;
    border: none;
    outline: none;
    background: #2A5C99;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 8px;
}

.signinStatement {
    text-align: center;
    margin-top: 10px;

}

.signinStatementLink {
    border: 1px solid;
    color: #2A5C99;
    text-decoration: none;
    border-radius: 5px;
}

.signinStatementLink:hover {
    padding: 2px;
    border: 1.5px solid;
}

.formHeadingText {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
}

.loginAvatar {
    width: 85%;
}

.logoImg {
    display: none;
}

@media screen and (max-width: 1200px) {
    * {
        max-width: 100%;
    }



}

@media screen and (max-width: 900px) {

    form {
        max-width: 85vw;
    }

}

@media screen and (max-width: 750px) {
    .container {
        max-height: 100%;
    }

    .imgSection {
        display: none;
    }

    .logoImg {
        display: block;
        width: 20%;
        margin-left: auto;
        margin-right: 10px;
        padding: 10px;
    }

    .formHeadingText {
        font-size: 50px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: center;
        color: #14142B;
    }

}

@media screen and (max-width: 600px) {

    .inputFields,
    .signinBtn {
        width: 90%;
    }

    .check {
        display: block;
    }

    .container {
        margin: 15px 10px;
    }

    .loginStatement a {
        display: block;
        width: 40%;
        margin: 0;
        border: none;
    }

    .loginStatement {
        text-align: left;
    }
}


@media screen and (max-width: 400px) {

    .inputFields,
    .signinBtn {
        width: 80%;
    }

    .logoImg {
        margin-left: auto;
        margin-right: 18%;
    }
}